# -*- mode: sh; -*-
# (rootdir)/.envrc : direnv configuration file
# see https://direnv.net/
# pyversion=$(head .python-version)
# pvenv=$(head     .python-virtualenv)
pyversion={{ python_version }}
pvenv={{ virtualenv_name }}

use python ${pyversion}
# Create the virtualenv if not yet done
layout create_venv ${pyversion} ${pvenv}
# activate it
layout activate_venv ${pvenv}
unset PS1